/* IMPORTS - googlefonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* END IMPORTS */


/* GENERAL classes */

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;

	scroll-behavior: smooth;
}

/* END GENERAL classes */


/* START aboutus classes */

.aboutus-section{
	/*border-style: solid;
	border-color: blue;*/

	width: 100%;
	min-height: 100vh;
	background-color: #ddd;

	display: flex;
	justify-content: center;
}

.aboutus-container{
	width: 80%;
	display: block;
	margin: auto;

	padding-top: 240px;
	padding-bottom: 240px;
}

.aboutus-content-section{
	float: left;
	width: 55%;

	margin-top: 80px;
	margin-left: 60px;
}

.aboutus-title{
	/*border-style: solid;
	border-color: red;*/

	text-transform: uppercase;
	font-size: 36px;
  color:#464646;
	letter-spacing: 1px;
	text-shadow: 2px 2px 3px #aca7a7;

	margin-left: 60px;
}

/* END aboutus classes */


/* START aboutus image-section classes */

.aboutus-image-section{
	/*border-style: solid;
	border-color: red;*/

	margin-top: 94px; /* 80 + 14 (margin-top do texto da esquerda) */
	float: right;
	width: 41%;
  text-align: center;

}

.aboutus-image-section .aboutus-name h4{
  margin-top: 30px;
  color:#5d5d5d;
	font-size: 20px;
	font-weight: 500;
}

.aboutus-image-section img{
	width: 60%;
	height: auto;
  border-radius: 5%;

	box-shadow: 2px 2px 3px #ddd;
}

.aboutus-image-section img:hover{
	transform: scale(1.02);

	box-shadow: 2px 2px 8px #ddd;
}

.aboutus-image-section .aboutus-social{
	margin-top: 10px;
  text-align: center;
}

.aboutus-image-section .aboutus-social i{
	color: #3d3d3d;
	font-size: 30px;
	padding:0px 10px;

	box-shadow: 2px 2px 8px #ddd;
}

.aboutus-image-section .aboutus-social i:hover{
	color:#5d5d5d;

	transform: scale(1.09);
	box-shadow: 2px 2px 8px #ddd;
}

/* END aboutus image-section classes */


/* START aboutus content-section classes */

.aboutus-content p{
	/*border-style: solid;
	border-color: red;*/


	padding-top: 14px;
	color:#5d5d5d;
	font-size: 32px;
  line-height: 1.7;
  text-align: ;
	font-weight: 300;

}

/* END aboutus content-section classes */


/* START artworks section classes */

.artworks-section{
	/*border-style: solid;
	border-color: green;*/

	padding: 10px;
	width: 80%;
	margin: 0 auto;
	background: #ffffff;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-auto-rows: 250px;
	grid-auto-flow: dense;

	margin-top: 200px;
	margin-bottom: 200px;
}

.imag_min{
	grid-row: span 1;
	grid-column: span 1;
}

.imag_med{
	grid-row: span 1;
	grid-column: span 2;
}

.imag_big{
	grid-row: span 2;
	grid-column: span 2;
}

.artworks-section div img{
	width: 100%;
	height: 100%;
	object-fit: cover;

	border-radius: 20px;
}

/* END artworks section classes */


/* START content-section classes */

.artworks-content-section .artworks-content p{
	margin-top: 30px;
}

.artworks-content-section2 .artworks-content2 p{
	margin-top: 30px;
}

/* END content-section classes */


/* START nav-bar classes */

.navBar {
	/*border-style: solid;
	border-color: red;*/

  display: flex;
	position: fixed;
	overflow: hidden;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	width: 100%;
	padding-left: 10px;
	height: 128px;
	box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.25);
}

.navBar box-shadow {
	opacity: 25%;
}

.gallery{
	/*border-style: solid;
	border-color: green;*/

  color:#595959;
  text-shadow: 1px 1px 2px #aca7a7;
  font-size: 36px;
  letter-spacing: 2px;
  width: 50%;

}

.gallery a{
	color: #595959;
	letter-spacing: 2px;
	text-decoration: none;
}

.gallery h3{
	/*border-style: solid;
	border-color: red;*/

	padding-top: 40px;
	padding-left: 100px;
}

.gallery-links{
	/*border-style: solid;
	border-color: blue;*/

  display: flex;
  justify-content: right;
  width: 80%; /*espaco entre links about & contact*/
	font-size: 30px;
	text-decoration: none;
	padding-top: 50px;
	margin-right: px;
}

  .gallery-links li{
    list-style: none; /*tirar a decoracao que aparecia atras dos links- bolas*/
		margin-right: 80px;
	}

  .gallery-links a{
    color: #858484;
    letter-spacing: 2px;
		text-decoration: none;
		text-shadow: 1px 1px 2px #aca7a7;
  }

  .gallery-links a:hover{
	color:#5d5d5d;
	text-decoration: none;

	transform: scale(1.2);
	text-shadow: 2px 2px 8px #aca7a7;
  }

	.first-link {
		/*border-style: solid;
		border-color: green;*/

		margin-left: px;
	}

	.second-link {
		/*border-style: solid;
		border-color: green;*/

		margin-right: px;
	}

/* END nav-bar classes */


/* START about artist classes */

#more {display: none;}

.artist-section{
	/*border-style: solid;
	border-color: orange;*/

	width: 100%;
	min-height: 100vh;
	background-color: #ddd;

	display: flex;


}

.artist-container{
	width: 80%;
	display: block;
	margin: auto;

	padding-top: 280px; /* 200 + 128 (tamanho navbar) */
	padding-bottom: 200px;
}

.artist-content-section{
	/*border-style: solid;
	border-color: red;*/

	float: left;
	width: 60%;

	padding-left: px;
	padding-right: 70px;
}

.artist-content {

}

.artist-title {
	/*border-style: solid;
	border-color: red;*/

	text-transform: ;
	font-size: 28px;
  color:#464646;
	width: 40%;
  text-align: center;
	letter-spacing: 1px;

	text-shadow: 2px 2px 3px #aca7a7;
}

.artist-btn {
	float: left;
  background-color: #ffffff;
  border-style: solid;
	border-color: #555555;
	border-radius: 15px;
  color: #555555;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
	margin-top: 20px;
	font-weight: 500;

	box-shadow: 2px 2px 8px #aca7a7;
}

.artist-btn:hover {
	background-color: #555555;
  color: white;

	transform: scale(1.05);
	box-shadow: 2px 2px 8px #aca7a7;

	cursor: pointer;
}


/* END about artist classes */

/* START artist image-section classes */

.artist-image-section{
	/*border-style: solid;
	border-color: red;*/

	margin-top: 80px;
	float: left;
	width: 40%;
  text-align: center;
}

.artist-image-section img{
	width: 60%;
	height: auto;
  border-radius: 5%;

	box-shadow: 2px 2px 3px #aca7a7;
}

.artist-image-section img:hover{
	transform: scale(1.02);

	box-shadow: 2px 2px 8px #aca7a7;
}

/* END artist image-section classes */


/* START artist content-section classes */

.artist-content p{
	/*border-style: solid;
	border-color: red;*/

	margin-top: 85px;
	padding-top: 0px;
	color:#5d5d5d;
	font-size: 24px; /*alterado andré de 26 para 22*/
  line-height: 1.5;
  text-align: ;
}

/* END artist content-section classes */


/* START contact us classes */

.contact-section{
	/*border-style: solid;
	border-color: red;*/

	width: 100%;
	min-height: 100vh;
	background-color: #ffffff;

	display: flex;
}

.contact-container{
	width: 80%;
	display: block;
	margin: auto;

	padding-top: 240px;
	padding-bottom: 240px;
}

.contact-content-section{
	/*border-style: solid;
	border-color: red;*/

	float: left;
	width: 60%;
	margin-top: 80px;
}

.contact-title{
	/*border-style: solid;
	border-color: red;*/

	text-transform: uppercase;
	font-size: 36px;
  color:#464646;
	letter-spacing: 1px;
	text-shadow: 2px 2px 3px #aca7a7;

	margin-left: 60px;
}

/* END contact us classes */

/* START contact us formulario classes */

.contact-form {
  max-width: 850px;

  padding: 0px 50px;
  /*overflow: hidden;*/
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 10px;
    border:0;
    background: rgb(243, 243, 243);
    padding: 20px 40px;
    outline: none;
    color: #858484; /* texto escrito*/
    transition: 0.5s;
		margin-bottom: 35px;
		box-shadow: 0 0 20px 1px #aca7a7;
		border-radius: 15px;
		font-size: 15px;

		height: 60px;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #aca7a7;
}

textarea.contact-form-text{
    resize: none;
    height: 180px;
}
/*
.contact-form-btn{
    float:right;
    background: #686868;
    color: #ffffff;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0.3s;
    margin-top: 0px;
    cursor: pointer;
    border-radius: 15px;
		width: 80px;
		height: 40px;
}
*/
/*
.contact-form-btn:hover{
  background:#6a8eb8;
  border-radius: 15px;
  color: #ffffff;
  padding: 2%;
  box-shadow:  #f9ecec 2px 2px 2px 2px;
}
*/

.contact-form-btn {
	float: right;
  background-color: #ffffff;
  border-style: solid;
	border-color: #555555;
	border-radius: 15px;
  color: #555555;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	font-weight: 500;

	box-shadow: 2px 2px 8px #aca7a7;
}

.contact-form-btn:hover {
  background-color: #555555;
  color: white;

	transform: scale(1.05);
	box-shadow: 2px 2px 8px #aca7a7;

	cursor: pointer;
}



/* END contact us formulario classes */

/* START contact us image section classes */

.contact-image-section{
	/*border-style: solid;
	border-color: red;*/

	margin-top: 85px;
	float: right;
	width: 40%;
  text-align: ;
	padding-left: 45px;
}

.contact-image-section img{
	width: 75%;
	height: auto;
  border-radius: 5%;

	box-shadow: 2px 2px 3px #ffffff;
}

.contact-image-section img:hover{
	transform: scale(1.02);

	box-shadow: 2px 2px 8px #ffffff;
}

/* END contact us image section classes */

/* END contact us classes */


/* START footer classes */

.footer-section{
	/*border-style: solid;
	border-color: purple;*/

	width: 100%;
	min-height: 250px;
	background-color: #4d4d4d;

	margin-top: 0px;
}

.footer-container{
	/*border-style: solid;
	border-color: green;*/

	width: 100%;
	display: block;
	margin: ;
	padding-top: px;
}

.footer-content-section{
	/*border-style: solid;
	border-color: blue;*/

	float: left;
	width: 30%;
	padding-left: 100px;
	padding-right: px;
	margin-bottom: ;

	padding-top: 70px;
}

.footer-logo{
	/*border-style: solid;
	border-color: red;*/

	color:#ffffff;
	/*text-shadow: 1px 1px 4px #ffffff;*/
	font-size: 26px;
	letter-spacing: 3px;
	width: ;


}

/* END footer classes */


/* START footer social-section classes */

.footer-social-section{
	/*border-style: solid;
	border-color: orange;*/

	padding-top: 70px;
	float: left;
	width: 45%;
  text-align: center;
}

.footer-social-section .footer-social-text h4{
  padding-top: 15px;
  color:#A6A6A6;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1.8px;
}

.footer-social-section .footer-social-icons{
	padding-top: 20px;
  text-align: center;
}

.footer-social-section .footer-social-icons i{
	color: #2E3133;
	font-size: 38px;
	padding:0px 10px;
}

.footer-social-section .footer-social-icons i:hover{
	color:#ffffff;
}

/* END footer social-section classes */


/* START footer content-section classes */

.footer-content {
	/*border-style: solid;
	border-color: green;*/

	padding-bottom: px;
}

.footer-content p{
	/*border-style: solid;
	border-color: red;*/

	margin-top: 10px;
	padding-top: 0px;
	color:#666666;
	font-size: 32px;
  line-height: 1.5;
  text-align: justify;
}

#scrollToTopBtn {
	background-color: #4d4d4d;
	border-style: solid;
	border-color: #ffffff;
	border-radius: 20%;
	color: white;
	cursor: pointer;
	font-size: 16px;
	line-height: 48px;
	width: 48px;

	box-shadow: 0.5px 0.5px 6px #aca7a7;
}

#scrollToTopBtn:hover {
  background-color: #ffffff;
  color: #4d4d4d;

	transform: scale(1.05);
	box-shadow: 2px 2px 8px #aca7a7;

	cursor: pointer;
}

.scrollToTopBtn-section {
	/*border-style: solid;
	border-color: orange;*/

	padding-top: 110px;
	padding-bottom: 70px;
	float: right;
	width: 25%;
  text-align: center;
}

/* END footer content-section classes */


/*** START MEDIA QUERIES ***/

/*******************************/

@media all and (max-width: 500px) {

}


/*******************************/

@media screen and (max-width: 768px){



/* START artworks section MEDIA QUERIES */

	.artworks-section{
		padding: 10px;
		width: 100%;
		margin: 0 auto;
		background: #ffffff;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
		grid-auto-rows: 250px;
		grid-auto-flow: dense;
	}

	.imag_min{
		grid-row: span 1;
		grid-column: span 1;
	}

	.imag_med{
		grid-row: span 1;
		grid-column: span 2;
	}

	.imag_big{
		grid-row: span 2;
		grid-column: span 2;
	}

	.artworks-section div img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

/* END artworks section MEDIA QUERIES */

/* START aboutus section MEDIA QUERIES */

.aboutus-container{
	width: 80%;
	display: block;
	margin: auto;
	padding-top: 50px;
}

.aboutus-content-section{
	float: none;
	width: 100%;
	display: block;
	margin: auto;
}

.aboutus-image-section{
	float:none;
	width:100%;

}

.aboutus-image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

.aboutus-content .aboutus-title{
	text-align: center;
	font-size: 19px;
}

.aboutus-content-section .aboutus-social{
	text-align: center;
}

/* END aboutus section MEDIA QUERIES */

}
/*** END MEDIA QUERIES ***/

/*alterado andré media queries*/
@media screen and (max-width: 1500px){



	/** START about artist section **/
	.aboutus-content p {
		font-size: 18px;
	}
	/** END about artist section **/

	/** START about artist section **/
	.artist-content p{
		font-size: 18px;
	}
	/** END about artist section **/

	/* START footer section */
	.footer-logo{
		font-size: 20px;
		letter-spacing: 3px;
	}

	.footer-content-section{
		padding-left: 50px;
	}

	.footer-content p{
		font-size: 20px;
	}

	.footer-social-section .footer-social-text h4{
		font-size: 20px;
	}

	/* END footer artist section */
}

@media screen and (max-width: 1300px){

	/* START about artist section */
	.artist-content p{
		font-size: 15px;
	}
	/* END about artist section */

	/* START footer section */
	.footer-logo{
		font-size: 12px;
		letter-spacing: 3px;
	}

	.footer-content-section{
		padding-left: 25px;
	}

	.footer-content p{
		font-size: 9px;
	}

	.footer-social-section .footer-social-text h4{
		font-size: 18px;
	}

	.footer-social-section .footer-social-icons i{
		font-size: 25px;
	}

	.scrollToTopBtn-section {
		padding-top: 80px;
	}

	/* END footer artist section */
}

@media screen and (max-width: 1080px){
	/** START navbar section **/
	.gallery{
	  font-size: 18px;
	  width: 40%;
	}

	.gallery-links{
	  width: 60%; /*espaco entre links about & contact*/
		font-size: 14px;
		padding-top: 50px;
		margin-right: px;
	}

	.gallery h3{
		padding-top: 45px;
		padding-left: 15px;
	}

	.gallery-links li{
		margin-right: 25px;
	}
	/** END navbar section **/
}

@media screen and (max-width: 1000px){



	/** START about artist section **/
	.artist-content p{
		font-size: 18px;
	}

	.artist-image-section{
		float: center;
		width: 100%;
		align-items: center;
	}

	.artist-title {
		/*border-style: solid;
		border-color: red;*/

		text-transform: ;
		font-size: 28px;
	  color:#464646;
		width: 40%;
	  text-align: center;
		letter-spacing: 1px;

		text-shadow: 2px 2px 3px #aca7a7;
	}

	.photo img{
		text-align: center;
		width: 50%;
	}

	.artist-content-section{
		float: center;
		width: 100%;
	}
	/** END about artist section **/


}
